services:
  - type: web
    name: dashboard-datasystem-api
    runtime: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: AZURE_PAT
        sync: false
